body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  border: 2px solid black;
  width: 100vw;
}

header {
  background-color: black;
  color: teal;
  height: 4em;
  margin-bottom: 2em;
  font-size: large;
}

.login {
  height: 100vh;
}

.login div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.login div input {
  margin: 0.5em;
}

.home {
  height: 100vh;
}

.home div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.home div button {
  margin: 2em;
}

.food-group {
  height: 200px;
  margin: 1em;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px teal solid;
  padding: 2em;
}

.food-group a {
  color: black;
  text-shadow: 2px 2px teal;
}

.submenu {
  height: 100vh;
}

#items {
  margin: 1em;
}

.food-item {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dotted teal;
  margin-top: 2em;
  padding: 1em;
}

.food-item button {
  margin-bottom: 2em;
}

.checkout {
  height: 100vh;
}

.orders {
  height: 100vh;
}

.orders div {
  margin: 1em;
}

footer,
footer a {
  background-color: black;
  height: 4em;
  color: teal;
}

a {
  text-decoration: none;
}

button,
button a {
  background-color: teal;
  color: black;
  border: none;
  padding: 1em;
  border-radius: 10px;
  width: 20em;
  margin: 1%;
}
