* {
  border: 2px solid red;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  height: 100vh;
}

.App {
  text-align: center;
  border: 2px solid black;
  width: 80vw;
}

nav {
  position: relative;
  height: 8vh;
  grid-area: footer;
}

footer {
  height: 5em;
  border: pink 2px dotted;
}
