* {
  border: 2px solid red;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders {
  height: 100vh;
}

.App {
  text-align: center;
  border: 2px solid black;
  width: 80vw;
}

.food-group {
  height: 200px;
  margin: 1em;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: black;
  color: white;
}
